<div class='container px-5 px-sm-0'>
  <header class="mx-auto text-center bg-dark text-white">
    <h1>ネタ出し</h1>
  </header>

  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <h2>ヘッダーメニュー</h2>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= form_with model: @idea do |f| %>
        <div>
          <label for="inputCategory">ジャンルやCP</label><br />
          <%= f.text_field :category, autofocus: true, id:"inputCategory" %>
        </div>
        <div>
          <label for="inputTag">タグ・キーワード</label><br />
          <%= f.text_area :tag, id:"inputTag" %>
        </div>
        <div>
          <label for="inputBody">ネタ</label><br />
          <%= f.text_area :body, id:"inputBody" %>
        </div>
        <div>
          <%= f.submit 'メモ' %>
        </div>
      <% end %>
    </div>
  </div>
</div>