<div class='container'>
  <header class="mx-auto text-center bg-dark text-white">
    <h1>ユーザー編集</h1>
  </header>

  <div class='row'>
    <div class='col-md-3'>
      <div>
        <h2>User info</h2>
        <%= render 'info', user: current_user %>
      </div>
      <div><%= render 'layouts/menu' %></div>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= form_with model: @user do |f| %>
        <div>
          <label>プロフィール画像</label><br />
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div>
          <label for="inputName">名前</label><br />
          <%= f.text_field :name, autofocus: true, id:"inputName"%>
        </div>
        <div>
          <label for="inputPreference">好物</label><br />
          <%= f.text_area :preference, id:"inputPreference"%>
        </div>
        <div>
          <label for="inputWeak">苦手</label><br />
          <%= f.text_area :weak, id:"inputWeak"%>
        </div>
        <div>
          <%= f.submit "更新" %>
        </div>
      <% end %>
    </div>
  </div>
</div>